@using Frontend.Models.Dto
@code {
    [Parameter] public PersonDto Person { get; set; }
    [Parameter] public EventCallback<PersonDto> OnSave { get; set; }

    private async Task SaveChanges(){
        await OnSave.InvokeAsync(Person);
    }
}

<div class = "modal" style="@(Person == null ? "display:none" : "")">
    <h3>Edit Person</h3>
    <label for="vorname">Vorname:</label>
    <input id="vorname" @bind="Person.Vorname" />
    
    <label for="nachname">Nachname:</label>
    <input id="nachname" @bind="Person.Nachname" />
    
    <label for="geburtsdatum">Geburtsdatum:</label>
    <input id="geburtsdatum" type="date" @bind="Person.Geburtsdatum" />
    
    <button @onclick="SaveChanges">Save</button>
</div>