@inherits LayoutComponentBase

<div class = "page-wrapper">
    @Body  <!-- This is where the content of each page will go -->
</div>

<style>
    /* Ensure the wrapper takes full height */
    .page-wrapper {
        min-height: 100vh;
    }
</style>

