@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <!-- Other header content -->
    </header>

    <main>
        @Body  <!-- This is where the content of each page will go -->
    </main>

</div>
