@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Frontend.Shared 


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <!-- This will render the found route based on the route data -->
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>
